
@import "/home/yash/.local/share/ags-editable/theme";
@import "widget/CalendarCenter/style";
@import "widget/PowerMenu/style";
@import "widget/ControlCenter/style";
@import "/home/yash/.local/share/ags-editable/bar_style";
@import "widget/AppLauncher/style";
@import "widget/Notification/style";
@import "widget/NotificationCenter/style";
@import "widget/VolumeControl/style";
@import "widget/WifiMenu/style";
@import "widget/NewNetwork/style";

window {
    font-family: JetBrainsMono NF
}

button {
    background-image: none;
    border: 0px;
    color: inherit;
    box-shadow: none;
    font-weight: inherit;
}
